{% extends 'layout.html' %}
{% block content %}
<link href="/static/markdownx/admin/css/markdownx.css" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="/static/markdownx/js/markdownx.js"></script>
<h1>狀態&nbsp;:&nbsp;{{report.status|status_text}}</h1>


<ul class="nav nav-tabs">
  <li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#home">報告內容</a></li>
  <li class="nav-item active"><a class="nav-link" data-toggle="tab" href="#menu1">審核</a></li>
</ul>


<div class="tab-content">
<div id="home" class="tab-pane container active">
{%if report.text %}
文字:
<p>
{{report.text.description|striptags}}
</p>
{%endif%}


{%if report.link %}
連結 : <br/>
<ul class="list-group">
  <li class="list-group-item">網址: <a href="{{report.link.url}}" target="_blank">{{report.link.url}}</a></li>
  <li class="list-group-item">標題: {{report.link.title|default:"(空)"}}</li>
  <li class="list-group-item">文字: {{report.link.short_text|default:"(空)"}}</li>
  <li class="list-group-item">圖片: {% if report.link.image %}<img src="{{report.link.image}}"/>{% else %}(空){%endif%}</li>
</ul>
{%endif%}

{%if report.image%}
圖片 :<br/>
<img src="{{report.image.image}}" />
{%endif%}

{% if markdownx_md|length > 0 %}
<hr/>
<h3>審核結果 :</h3>
{{markdownx_md|safe}}
{% endif %}
<hr/>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
   var disqus_config = function () {
   this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
   this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
   };
   */
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://fakenews-g0vhk-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>

<div id="menu1" class="tab-pane container">
<br/>

{% if is_editor %}
<form action="/report/update_comment" method="post">
<input name="report_id" type="hidden" value="{{report.id}}"  />
編輯器 (提示: 把相關圖片拖放到輸入框內)<br/>:  
{{markdownx_editor}}

<br/>
<input type="submit" />
</form>
{% else %}
{{markdownx_md|safe}}
{%endif%}
</div>
</div>
{% endblock %}

